<ul class="which-barnum__features">
  <li>
    <p>Usage particulier</p><i class="material-icons unchecked">do_not_disturb_on</i>
  </li>
  <li>
    <p>Usage professionnel</p><i class="material-icons checked">check_circle</i>
  </li>
  <li>
    <p>Usage intensif</p><i class="material-icons checked">check_circle</i>
  </li>
  <li>
    <p>Légereté</p><i class="material-icons unchecked">do_not_disturb_on</i>
  </li>
  <li>
    <p>Résistance</p><i class="material-icons checked">check_circle</i>
  </li>
  <li>
    <p>Étanche</p><i class="material-icons checked">check_circle</i>
  </li>
  <li>
    <p>Pièces détachées</p><i class="material-icons checked">check_circle</i>
  </li>
</ul>