// GLOBAL VARIABLES
:root {
  /* COLOR */
  --color-primary: #000;
  --color-secondary: #fff;
  --color-tertiary: #0a39b0;
  --color-gray: #888888;
  --color-gray-breadcrumb: #f6f6f6;
  --color-gray-ttc: #868686;
  --color-gray-manufacturer: #ddd;
  --color-miniature-font: #969696;
  --color-search-bottom-border: #333;
  --color-search-color-active: #fe4e55;
  --color-action: #fe4e55;
  --color-price: var(--color-action); // FIXME #ff4850
  --color-error: var(--color-action);
  --color-success: #155724;
  --color-question-tel: #ccc;
  --color-quel-barnum-hr: #c0c0c0;
  --color-confiance: #a6bad3;
  --color-facebook: #4267b2;
  --color-instagram: #f77737;
  --color-youtube: #ff0000;
  --color-heart: #d0121a;
  --color-footer-bottom: #717171;
  --color-fleche-slider: #717171;
  --color-menu-hover: #555;
  --color-zara-progressbar: #cbcbcb;
  --color-zara-progressbar-filled: #000;
  --color-pastel-default: #8ab9e5;
  --bg-color-primary: #fff;
  --bg-color-secondary: #282828;
  --bg-color-tertiary: #f7f7f7;
  --bg-color-souriya-slider: #d2694c;
  --bg-color-detail: #ffd3a3;
  --bg-color-menu-hover: #e7e7e7;
  --bg-color-section-pink: #f9ebeb;
  --bg-color-destocking: #fdfba1;
  --fill-checked: #3b5cdb;
  --fill-unchecked: #d0d0d0;
  --font-size-small: 12px;
  --font-size-medium: 13px;
  --font-size-normal: 15px;
  --width-row: 1340px;
  --width-subtitle: 550px;
  --width-fleche-button: 38px;
  --width-shorcuts: 24px;
  --height-fleche-button: 12px;
  --height-images-container: 700px;
  --size-fleche-slider: 281px;
  --margin-homepage: 60px;
  --padding-homepage: 14px;
  --padding-homepage-2: 30px;
}

// GLOBAL STYLES
body {
  font-size: var(--font-size-normal);
}

h1 {
  margin-bottom: 9px;
  color: var(--color-tertiary);
  font-size: 21px;
  font-weight: 700;
}

h2 {
  display: inline-block;
  color: var(--color-tertiary);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 21px;
  margin-bottom: 14px;
}

p {
  display: inline-block;
  margin: 0;
  line-height: 23px;
}

.souriya-wrapper {
  padding: 0 15px;
}

.souriya-l-wrapper {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }
  
  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

.souriya-images-container {
  height: var(--height-images-container);
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.row-heart {
  width: 100%;
  background-color: var(--bg-color-section-pink);
}

.col-12 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.breadcrumb {
  background-color: var(--color-gray-breadcrumb);
  margin-bottom: 0;
}

// SVG
$svg-path-caret-down: '/img/souriya/caret-down.svg';
$svg-path-triangle: '/img/souriya/triangle.svg';
$svg-path-minus: '/img/souriya/minus.svg';