@mixin svg($path, $size, $color) {
  display: inline-block;
  height: $size;
  width: $size;
  -webkit-mask: url($path) no-repeat 50% 50%;
  mask: url($path) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: $color;
}

@mixin svg-pseudo-element($path, $size, $color) {
  @include svg($path, $size, $color);
  content: "";
}

@mixin button {
  padding: 4px 20px;
  border: 2px solid transparent;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  letter-spacing: 2px;
  text-decoration: none;

  &:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border-color: var(--color-primary);
    outline: none;
  }
}

@mixin action-hover {
  &:hover {
    background-color: var(--color-action);
  }
}

@mixin link-action {
  color: inherit;

  &:hover {
    color: var(--color-action);
  }
}

@mixin row {
  max-width: var(--width-row);
  margin: var(--margin-homepage) auto;
}

@mixin grid-cart-btn {
  padding: 0 4px;
  border: none;
  background-color: inherit;
  color: var(--color-primary);
  box-shadow: none;
  opacity: 1;
  cursor: pointer;

  &:hover {
    color: var(--color-action);
  }
}

@mixin outofstock {
  color: var(--color-error);

  &--active {
    transform: translateY(0);
  }
}