:root {
  /* COLOR */
  --color-primary: #000;
  --color-secondary: #fff;
  --color-tertiary: #888888;
  --color-h1: #0a39b0;
  --color-miniature-font: #969696;
  --color-search-bottom-border: #333;
  --color-search-color-active: #fe4e55;
  --color-price: #fe4e55; // FIXME #ff4850
  --color-active: #fe4e55;
  --color-question-tel: #ccc;
  --color-quel-barnum-hr: #c0c0c0;
  --bg-color-primary: #fff;
  --bg-color-secondary: #282828;
  --bg-color-tertiary: #0b3ab0;
  --bg-color-souriya-slider: #d2694c;
  --bg-color-menu-hover: #e7e7e7;
  --bg-color-quel-barnum: #f7f7f7;
  --fill-checked: rgb(59, 92, 219);
  --fill-unchecked: #d0d0d0;
  --font-size-small: 12px;
  --font-size-normal: 15px;
}

body {
  font-size: var(--font-size-normal);
}

h1 {
  margin-bottom: 9px;
  color: var(--color-h1);
  font-size: 21px;
  font-weight: 700;
}

h2 {
  display: inline-block;
  color: var(--color-h1);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 21px;
  margin: 30px 0 14px;
}

p {
  display: inline-block;
  margin: 0;
  line-height: 23px;
}