.cart-grid {
  .cart-container {
    margin-right: var(--padding-homepage-2);
  }

  .card-header,
  .card-footer,
  .cart-summary-line {
    background: none;
  }

  .card-footer {
    border-top: none;
  }

  .cart__continue,
  .remove-from-cart {
    color: inherit;
    font-size: 12px;

    &:hover {
      color: var(--color-action) !important;
    }
  }

  .cart__continue i {
    margin-top: -3px;
  }

  .cart-total {
    margin-top: var(--padding-homepage-2);
    padding: 0;
  }

  .cart-detailed-actions {
    margin-top: 40px;
  }

  .product-line__body .value {
    color: var(--color-action);
  }

  .souriya__cart-button--a {
    background-color: var(--color-action);
    border-color: var(--color-action);

    &:hover {
      background-color: var(--color-action-darker);
      border-color: var(--color-action-darker);
    }
  }
}
