.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-size: var(--font-size-small);
  font-weight: 700;
  text-align: center;

  &__img {
    width: 56px;
  }

  &__when,
  &__what {
    margin-top: 8px;
  }

  &__date {
    font-weight: 400;
  }
}
