.je-decouvre {
  &__right,
  &__left {
    @include row;
    display: flex;

    img {
      border-radius: 15px;
    }

    &--img {
      width: 50%;
    }

    &--text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
    }

    a {
      display: inline-block;
      margin-top: 16px;
      p {
        @include button;
      }
    }
  }

  &__left {
    &--img {
      order: 1;
    }
    
    &--text {
      order: 2;
    }
  }

  &__boite {
    display: flex;
    flex-direction: column;
    max-width: 71%;
    margin: 0 auto;
  }

  @media (max-width: 768px) {
    &__right,
    &__left {
      display: flex;
      flex-direction: column;
      
      &--img,
      &--text {
        width: 100%;
        transform: none;
      }
      
      &--img {
        order: 1;
        text-align: center;
      }

      &--text {
        order: 2;
        margin-top: 24px;
      }
    }
  }
}
