.our-story {
  background-color: lightgoldenrodyellow;
  display: flex;

  & > div {
    width: 50%;
  }

  &__text {
    padding: 0 40px;
  }

  &__desc {
    margin: 10px 0 30px;
  }

  &__quality {
    font-weight: 700;
    letter-spacing: 1px;
  }

  &__button {
    @include button;
    display: inline-block;
    padding: 10px 40px;
  }

  @media (max-width: 1400px) {
    background-color: lightcoral;
    flex-direction: column;
    align-items: center;

    & > div {
      width: 800px;
    }

    &__img {
      display: flex;
      justify-content: center;
      order: 2;
      margin-top: 30px;
    }

    &__text {
      padding: 0 20px;
    }
  }

  @media (max-width: 880px) {
    background-color: lightseagreen;
    & > div {
      width: 680px;
    }
  }

  @media (max-width: 768px) {
    background-color: lightgreen;
    & > div {
      width: 558px;
    }
  }

  @media (max-width: 589px) {
    background-color: lightpink;
    & > div {
      width: 498px;
    }
  }

  @media (max-width: 510px) {
    background-color: lightcyan;
    & > div {
      width: 399px;
    }
  }

  @media (max-width: 418px) {
    background-color: lightgoldenrodyellow;
    & > div {
      width: 343px;
    }
  }
}
