$svg: 'data:image/svg+xml; utf8, <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>';

.souriya-product-list {
  text-align: center;

  h3 {
    height: 40px;
    margin-bottom: 0;
    font-size: 16px;

    & > a {
      color: var(--color-miniature-font);
      text-transform: uppercase;
    }
  }

  p {
    display: block;
    max-width: var(--width-subtitle);
    margin: 0 auto 20px;
  }

  &.heart {
    background-color: var(--bg-color-section-pink);

    img {
      height: 80px;
      margin-right: 10px;
    }
  }

  .products {
    max-width: 88%;
    margin: 40px auto 0;
  }

  .slick-arrow {
    top: -28px;
  }

  .card-body {
    padding: 0;
  }

  .card-product {
    border: none;
  }

  .price {
    font-size: 17px;
  }

  .current-price-discount {
    color: var(--color-price);
  }

  .regular-price {
    margin-right: 10px;
    font-size: 16px;
    font-weight: 100;
  }

  .product-flag.discount-product {
    background-color: var(--color-price);
  }

  .product-description .product-price-and-shipping {
    text-align: left !important;
  }

  .product-description {
    text-align: left;
  }
}
