$transition-menu-item: all ease-in-out 0.3s;

.souriya-menu {
  // override desktop menu on classic-rocket theme
  @media (min-width: 992px) {
    &__list {
      // ROOT NODES
      & > li {
        position: relative;
        min-width: 80px;
        padding: 20px 10px;

        &:hover {
          background-color: var(--bg-color-menu-hover);
          color: var(--color-menu-hover);

          & > .menu__item-header > a,
          & > a {
            color: inherit;
            text-decoration: underline;
          }
        }

        & > .menu__item-header > a,
        & > a {
          justify-content: center;
          align-items: center;
        }

        &.has-children > .menu__item-header > a:after {
          @include svg-pseudo-element($svg-path-caret-down, 12px, var(--color-primary));
          margin-left: 6px;
        }
      }
    }

    li a {
      text-transform: capitalize;
    }

    // OTHER NODES
    .menu-sub__list {
      display: flex;
      flex-direction: column;
      min-width: 230px;
      background-color: var(--bg-color-secondary);

      &--1,
      &--2 {
        padding: 10px;
      }

      &--2 {
        position: absolute;
        left: 95%;
        top: 20%;
        opacity: 0;
      }

      .menu__item--1 {
        position: relative;
        padding: 0;

        &:hover .menu-sub__list--2 {
          opacity: 1;
          z-index: 2;
        }
      }

      a {
        align-items: center;
        margin: 4px 0;
        color: var(--color-gray);
        transition: $transition-menu-item;

        &::before {
          @include svg-pseudo-element($svg-path-minus, 5px, var(--bg-color-secondary));
          margin-right: 6px;
          width: 0;
          transition: $transition-menu-item;
        }

        &.menu__item-link--hassubmenu {
          &::after {
            @include svg-pseudo-element($svg-path-triangle, 7px, var(--color-gray));
            transform: scale(-1);
            margin-left: 7px;
            margin-top: 2px;
          }
        }

        &:hover {
          color: var(--color-secondary);
          transition: $transition-menu-item;

          &::before,
          &::after {
            background-color: var(--color-secondary);
          }

          &::before {
            width: 5px;
            transition: $transition-menu-item;
          }
        }
      }
    }

    // FIXME DEBUG
    // &__list > li:first-child .menu-sub {
    //   z-index: 1;
    //   opacity: 1;
    // }
  }
}
