.souriya-footer {
  margin-top: 0;
  padding-top: var(--padding-homepage);
  background-color: var(--bg-color-tertiary);
  color: var(--color-footer-bottom);

  .row {
    flex-direction: column;
    padding: 15px;
  }
}