// EXCEPTION !!! DUPLICATE CSS
.page-wrapper--order-confirmation .grid-cart-btn {
  @include button;
  @include grid-cart-btn;
}

.souriya-pagelist {
  margin-top: var(--margin-homepage);

  .left-column {
    padding-right: var(--margin-homepage) !important;

    h2 span {
      text-transform: lowercase;
    }
  }

  //// LEFT CATEGORY MENU
  .category-top-menu {
    .text-uppercase {
      font-weight: 600;

      &:hover {
        color: var(--color-action);
      }
    }

    .category-sub__item {
      cursor: pointer;

      &:hover,
      &:hover > a {
        color: var(--color-action);
      }

      &--1 {
        margin-left: 20px;
      }
    }

    div[aria-expanded="true"] {
      .add {
        display: none;
      }

      .remove {
        display: block;
      }
    }
  }
  ////

  //// DESCRIPTION
  #category-description {
    p {
      text-align: justify;
    }
  }
  .block-category {
    padding-top: 0;
    border: none;
  }
  ////

  //// FILTERS
  .search_filters {
    padding: 0;
    border: none;

    .text-uppercase {
      margin-bottom: 18px;
      font-weight: 600;
    }

    .facet__title {
      margin-bottom: 12px;
      text-transform: uppercase;
    }

    .facet__block:not(:last-child) {
      border-bottom: none;
    }

    .custom-control {
      input:hover,
      label:hover {
        color: var(--color-action);
        cursor: pointer;
      }
    }

    .collpase--facet {
      max-height: 203px;
      overflow: scroll;
    }
  }
  .filter-by {
    color: var(--color-tertiary);
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 2px;
  }
  ////

  // PRODUCT LIST

  .souriya-product {
    margin-bottom: 0;
    margin-top: unset;
  }

  .advise {
    margin-top: var(--margin-homepage);
  }

  .card-product {
    border: none;
  }

  .product-description {
    align-items: flex-start;
  }

  .grid-cart-btn {
    @include button;
    @include grid-cart-btn;
  }

  .outofstock {
    @include outofstock;
  }

  .card-product {
    &:hover .product-title a {
      color: var(--color-primary);
    }

    .product-title {
      width: 100%;
      text-align: left;

      a:hover {
        color: var(--color-action);
      }
    }
  }

  .card-body {
    padding: 4px 0 0;
  }

  .u-a-i-c {
    margin-top: var(--padding-homepage-2);
    margin-bottom: var(--margin-homepage);
  }

  //// MEDIA QUERIES
  @media (max-width: 991px) {
    &__display {
      margin: 36px 15px 22px !important;
    }
  }
}
