$svg: 'data:image/svg+xml; utf8, <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>';
$top-slider-arrow: -28px;

.souriya-product-list {
  @include row;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h3 {
    height: 40px;
    margin-bottom: 0;
    font-size: 16px;

    & > a {
      color: var(--color-miniature-font);
      text-transform: uppercase;
    }
  }

  p {
    display: block;
    max-width: var(--width-subtitle);
    margin: 0 auto;
  }

  &.heart {
    margin: auto;
    padding-top: var(--padding-homepage);
    padding-bottom: var(--margin-homepage);

    .souriya-product-list__title img {
      height: 80px;
      margin-right: 10px;
    }
  }

  &.advise .products {
    width: 100%;
    margin: 0;
    padding-top: var(--padding-homepage-2);

    .slick-arrow {
      top: 13px;
    }
  }

  .products {
    max-width: 88%;
    margin: 69px auto 0;
  }

  .slick-arrow {
    top: -28px;
  }

  .card-body {
    padding: 4px 0 0;

    h3:hover a {
      color: var(--color-action);
    }

    .grade-stars {
      justify-content: flex-start;
    }
  }

  .card-product {
    border: none;

    // FIXME 💎SOURIYA
    min-width: 175px;
  }

  .price {
    font-size: 17px;
  }

  .current-price-discount {
    color: var(--color-price);
  }

  .regular-price {
    margin-right: 10px;
    font-size: 16px;
    font-weight: 100;
  }

  .product-flag.discount-product {
    background-color: var(--color-price);
  }

  .product-description .product-price-and-shipping {
    text-align: left !important;
  }

  .product-description {
    display: flex;
    flex-direction: column;
    min-height: 88px;
    text-align: left;
  }

  .outofstock {
    @include outofstock;
  }

  .card-product {
    &:hover .product-title a {
      color: var(--color-primary);
    }
    
    .product-title a:hover {
      color: var(--color-action);
    }
  } 
}
