$border-chevron: 3px solid var(--color-secondary);
$padding-zone-top: 0 10px;
$subtitle-size: 18px;

.souriya-product {
  @include row;

  h3 {
    margin-bottom: 20px;
    font-weight: 600;
  }

  &__top {
    display: flex;
    padding: $padding-zone-top;

    &--img {
      flex: 1 0 630px;
    }
    
    &--text {
      flex: 2 2 450px;
    }
  }

  .h1 {
    margin-bottom: 6px;
    color: var(--color-primary);
    font-weight: 600;
  }

  .h6 {
    margin-bottom: 24px;
    font-size: $subtitle-size;
    font-weight: 600;
  }

  .product-information,
  .product-actions,
  .product-add-to-cart {
    margin-top: 30px;
  }

  #product-description-short-1,
  #product-description-short-2,
  #product-description-short-3 {
    text-align: justify;
  }

  .product-variants {
    display: none;
  }

  .product-add-to-cart .qty {
    margin: 0;
  }

  .product-quantity {
    .qty > .input-group {
      position: relative;
      width: 76px;

      input {
        display: inline-block;
        height: 50px;
        max-width: 50px;
      }

      .input-group-btn {
        position: absolute;
        right: 0;
        height: 50%;
        margin: 0;

        button {
          background-color: var(--color-primary);
          padding: 6px;
          font-size: 0px;

          &::after {
            content: " ";
            display: inline-block;
            border-bottom: $border-chevron;
            border-right: $border-chevron;
            height: 10px;
            width: 10px;
          }

          &:hover {
            background-color: var(--color-action);
          }
        }
      }

      .input-group-btn:first-child {
        button::after {
          transform: rotate(-135deg);
        }
      }

      .input-group-btn:last-child {
        bottom: 0;
        button::after {
          transform: rotate(45deg);
        }
      }
    }
  }

  .product-add-to-cart .add {
    margin-top: 0;
    margin-left: 12px;
  }

  .product-add-to-cart .product-quantity {
    margin-top: 0;
  }

  .add-to-cart {
    @include button;

    height: 50px;
    padding: 8px 50px;
    font-size: 18px;
    font-weight: normal;
    word-spacing: 3px;
    letter-spacing: 1px;
    opacity: 1;
    cursor: pointer;

    .material-icons {
      display: none;
    }

    &:hover {
      background-color: var(--color-action);
      color: var(--color-secondary);
      border-color: var(--color-action);
    }
  }

  #product-availability > img {
    width: 250px;
  }

  .outofstockproduct {
    padding: 5px;
    background-color: var(--bg-color-menu-hover);
    text-align: center;

    &__warn {
      color: var(--bg-color-souriya-slider);
      font-weight: 600;
    }
  }

  .price {
    color: var(--color-tertiary);
    font-size: 18px;
    font-weight: normal;
  }

  .current-price {
    display: flex !important;
    align-items: flex-end;
    margin-bottom: 10px;
  }

  .product-discount {
    margin-right: 10px;
  }

  .discount {
    margin-left: 20px;
    margin-bottom: -3px;
  }

  .tax-shipping-delivery-label {
    margin-left: 8px;
    color: var(--color-gray-ttc);
  }

  .souriya-avis {
    text-decoration: underline;
  }

  .souriya-label {
    font-size: 16px;
  }

  .grade-stars,
  .souriya-avis {
    margin-left: 15px;
  }

  .star {
    padding-top: 3px;
  }

  .star > .material-icons {
    font-size: 16px;
  }

  .tab-content {
    padding-top: 40px;
  }

  .tabs,
  .nav-tabs {
    border: none;
  }

  .tabs {
    margin-top: 20px;

    .product-description ul,
    .product-description p {
      margin-left: 50px;
    }
  }

  .nav-link {
    text-transform: uppercase;

    &.active {
      color: var(--color-tertiary);
      border-bottom-color: var(--color-tertiary);
    }
  }

  .manufacturer-logo {
    height: 35px;
    border: 1px solid var(--color-gray-manufacturer);
    border-radius: 4px;
  }

  .product-reference label {
    margin-top: 10px;
    margin-right: 12px;
    font-weight: 600;
    font-size: $subtitle-size;
  }

  .product-quantities {
    display: none;
  }

  .product-features {
    margin: 15px 0 30px;
  }

  @media (max-width: 1101px) {
    &__top {
      flex-direction: column;
      padding: 0;

      &--img,
      &--text {
        flex: 1 1 auto;
      }

      &--text {
        margin-top: 24px;
        padding: $padding-zone-top;
      }
    }

    .souriya-images-container {
      max-height: 500px;
    }

    .product-add-to-cart {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
    }
    
    .product-additional-info {
      display: flex;
      justify-content: center;
    }
  }

  @media (max-width: 465px) {
    .product-quantity {
      display: flex;
      justify-content: center;
    }

    .wishlist-button-add {
      margin-top: 20px
    }
  }

  @media (max-width: 405px) {
    .product-quantity > :nth-child(2) {
      margin-top: 20px;
    }
  }

  @media (max-width: 391px) {
    .nav-link {
      padding: 8px;
    }
  }

  @media (max-width: 352px) {
    .nav-link {
      padding: 6px;
      font-size: 13px;
    }
  }
}
