.trust {
  @include row;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: var(--margin-homepage) 0;

  h3 {
    color: var(--color-confiance);
    font-size: 22px;
    letter-spacing: 3px;
  }

  p {
    max-width: var(--width-subtitle);
  }

  &__list {
    display: flex;
    max-width: 100%;
    margin: 28px auto 0;
  }

  // SLICK SPECIFIC
  .slick-prev,
  .slick-next {
    top: -15%;
  }

  .slick-prev {
    right: 5px;
  }

  .slick-next {
    right: 35px;
  }

  .slick-slide &__img {
    display: flex !important;
    justify-content: center;
  }

  @media (max-width: 589px) {
    .slick-prev {
      right: 26px;
    }
    .slick-next {
      right: 14px;
    }
  }
}
